<div class="index-content-block col-12 mx-auto mt-5">
  {{!-- 搜尋區塊 --}}
  <form action="/search" class="container" >
    <div class="d-flex justify-content-center">
      <div class="filter col-md-3 col-lg-6 my-1">
        {{!-- filter switch for category --}}
        <div class="input-group mb-3">
          <label class="input-group-text bg-secondary text-light" for="sort">
            <i class="fa-solid fa-filter"></i>
          </label>
          <select class="form-select" id="sort" name="sort">
            <option value="{}" selected>篩 選 類 別...</option>
            <option value='{"amount":"asc"}' {{#is sort '{"amount":"asc"}' }} selected {{/is}}>金額遞增</option>
            <option value='{"amount":"desc"}' {{#is sort '{"amount":"desc"}' }} selected {{/is}}>金額遞減</option>
            <option value='{"date":-1}' {{#is sort '{"date":-1}' }} selected {{/is}}>日期新到舊</option>
            <option value='{"date":1}' {{#is sort '{"date":1}' }} selected {{/is}}>日期舊到新</option>
          </select>
        </div>
        {{!-- sort select --}}
        <div class="input-group mb-3">
          <label class="input-group-text bg-secondary text-light" for="sort">
            <i class="fas fa-sort-amount-down"></i>
          </label>
          <select class="form-select" id="sort" name="sort">
            <option value="{}" selected>排 序 方 式...</option>
            <option value='{"amount":"asc"}' {{#is sort '{"amount":"asc"}' }} selected {{/is}}>金額遞增</option>
            <option value='{"amount":"desc"}' {{#is sort '{"amount":"desc"}' }} selected {{/is}}>金額遞減</option>
            <option value='{"date":-1}' {{#is sort '{"date":-1}' }} selected {{/is}}>日期新到舊</option>
            <option value='{"date":1}' {{#is sort '{"date":1}' }} selected {{/is}}>日期舊到新</option>
          </select>
        </div>
        {{!-- search bar --}}
        <div class="input-group mb-3">
          <span class="input-group-text bg-secondary text-light" id="search-bar">
            <i class="fas fa-magnifying-glass"></i>
          </span>
          <input type="text" class="form-control" name="keyword" placeholder="搜 尋 名 稱..." value="{{keyword}}"
            aria-label="keyword" aria-describedby="search-bar">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
      </div>
    </div>
  </form>

  <div class="totalAmount-block col-12 d-flex justify-content-evenly align-items-center mx-auto mt-5 bg-dark">
    <span class="totalAmount-text">總支出：</span>
    <span class="totalAmount-number">{{ totalAmount }} 元</span>
  </div>
  <div class="mt-4 mx-auto col-12 expense-list">
    <div class="divide-line"></div>
    {{#if records}}
    <ul class="list-group list-group-flush">
      {{#each records}}
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <i class="{{ this.categoryId.icon }} record-icon"></i>
        <div class="ms-0 col-4 my-1 d-flex flex-column justify-content-between">
          <h4 class="my-0 mb-0 align-baseline fw-bold">{{ this.name }}</h4>
          <small><span class="date-text mt-0-0 p-0">{{ this.date }}</span></small>
        </div>
        <h5 class="amount ms-5 me-3 align-middle my-auto">$ {{ this.amount }}</h5>
        <div class="d-flex">
          <a href="./records/{{ this._id }}/edit" class="btn btn-primary d-block mx-1">編輯</a>
          <form action="./records/{{ this._id }}?_method=delete" method="POST">
            <button class="btn btn-danger">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
    <div class="divide-line"></div>
    {{else}}
    <h3 class="text-center text-secondary fst-italic fw-normal my-5">
      目前沒有任何支出，請新增
    </h3>
    <div class="divide-line"></div>
    {{/if}}
  </div>
  <div class="text-center">
    <a href="./records/new" class="btn btn-warning my-4 col-3">新增支出</a>
  </div>
</div>